<configuration debug="false">

	<shutdownHook class="ch.qos.logback.core.hook.DefaultShutdownHook" />

	<appender name="STDOUT"	class="ch.qos.logback.core.ConsoleAppender">

<!-- 	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
 -->
		<encoder>
			<pattern>%d %5.5le [%-11.11(%thread)] %-32.32logger{32} %kvp - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="WARN">
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="FILE" /> -->
		<appender-ref ref="EMAIL" /> 

	</root>
</configuration>
