<configuration>

	<shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>


	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>


		<encoder>
			<pattern>
				%d %5.5le [%thread] - %msg%n
			</pattern>
		</encoder>
	</appender>

	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">

		<file>testFile-${bySecond}.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>

		<encoder>
			<pattern>
				%d %5.5le [%thread] - %msg%n
			</pattern>
		</encoder>
	</appender>
 

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	<!-- 	<appender-ref ref="FILE" /> -->
	</root>
</configuration>